i {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
    display: block;
}

i.fa-home {
    background-image: url("/assets/icons/ui/home.svg");
}

i.fa-shopping-cart {
    background-image: url("/assets/icons/ui/shopping_cart.svg");
}

i.fa-user {
    background-image: url("/assets/icons/ui/user.svg");
}
